* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.backHome {
    text-decoration: none;
    font-style: none;
    background-color: #F28322;
    color: #FFF;
}

.create {
    background-color: #fff;
    width: 100%;
    height: auto;
    font-family: 'Inter', sans-serif;
}

.create__box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 5% 0;
}

.create__content {
    text-align: center;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.create__content__img__logo {
    max-width: 250px;
}

.create__content__text {
    color: #F2B885;
    font-size: 2.5vmin;
    margin-bottom: 3rem;
}

.create__content__text2 {
    color: #03588C;
    font-size: 1rem;
    margin: 2rem 0;
}

form {
    width: 100%;
    margin-bottom: 1.5rem;
}

form div {
    width: 100%;
}

label {
    color: #F28322;
    text-transform: capitalize;
    font-weight: bold;
}

.formData {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

input, select {
    flex-grow: 1;
    height: auto;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F28322;    
}

.btnPageLeave {
    background-color: #024168;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 2.5);
    color: #fff;
    display: flex;
    font-size: 2.5vmin;
    font-weight: 100;
    gap: 1rem;
    padding: 0.5rem 0;
    justify-content: center;
    text-decoration: none;
    text-transform: lowercase;
    margin: 0;
    width: 100px;
}

