
.btnPageLeave {
    background-color: #024168;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 2.5);
    color: #fff;
    display: flex;
    font-size: 2.5vmin;
    font-weight: 100;
    gap: 1rem;
    padding: 0.5rem 0;
    justify-content: center;
    text-decoration: none;
    text-transform: lowercase;
    margin: 0;
    width: 100px;
}

.btnLeaveArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userText {
    font-size: 16px;
}

.destaque {
    color: #f28322;
    font-weight: none;
}

input {
    text-align: center;
}