* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.read {
    background-color: #fff;
    width: 100%;
    height: auto;    
    font-family: 'Inter', sans-serif;
}

.read__box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 5% 0;
}

.read__content {
    text-align: center;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.read__content__img__logo {
    max-width: 250px;
}

.read__content__text {
    color: #F2B885;
    font-size: 2.5vmin;
    margin-bottom: 3rem;
}

.btnPages {
    align-items: center;
    background-color: #03588C;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    font-size: 2.5vmin;
    font-weight: bold;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
    padding: 0.5rem 0;
    text-decoration: none;
    width: 100%;
}

.imgSvg {
    fill: #fff;
    width: 2vw;
}

.read__content__text2 {
    color: #03588C;
    font-size: 1rem;
    margin: 2rem 0;
}

form div {
    width: 100%;
}

label {
    color: #F28322;
    text-transform: capitalize;
    font-weight: bold;
}

.formData {
    width: 100%;
    margin: 3rem 0;
}

button {
    color: #FFF;
    text-transform: capitalize;
    background-color: #F28322;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 25px;
    font-size: 2vmin;
    border: none;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
    cursor: pointer;
}

.btnExport {
    text-align: right;
    margin: 1rem 0;   
}

.btnExport button {
    width: 30%;    
}

span {
    font-weight: bold;
}

input {
    height: auto;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F28322;    
}


.dataSelect__input {
    text-align: left;
    gap: 1rem;
}

.dataSelect__input  label {
    width: 100px;
}

.dataSelect {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vmin;
}


.btnChange {
    width: 100%;
    display: flex;
    gap: 2vmin;
}

.tableArea {
    margin: 2vmin 0;
}

.tableArea {
    width: 100%;
    padding: 0.2px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.trHead {
    color: #fff;
    background-color: #03588C;
}

tr {
    color: #03588C;
    background-color: #fff;
    border-top: 1px solid #03588C;
    border-bottom: 1px solid #03588C;
}

td {
    padding: 0.75rem 0;
}

.inputGrow {
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {

    .flexInputs {
       flex-direction: column;
    }

    .read__box {
        width: 100%;
    }

    .read__content {
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    p {
        font-size: 2vmin;
    }

  }